// Specific CSS for your home-page
.banner {
  width: 100%;
  display: block;
  text-align: center;
  padding: 20px;
  align-items: center;
  height: 40vh;
}

.cards-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  }

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.card-body {
  padding: 1.25rem;
}
.card-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;                     // G:font-weight changed to bold
  font-weight: bold;
  color: rgba(148,187,233,1);
}
// tags
.card-text {
  font-size: x-small;                    // G:font-size changed to x-small
  margin-bottom: 1rem;
  display: inline-block;
  background: rgba(148,187,233,1);
  padding: 0.5rem;
  border-radius: 1.25rem;
}
// button visit profile
.btn-primary {
  display: flex;
  align-items: center;
  background-color: rgba(148,187,233,1);
  border-color: rgba(148,187,233,1);
  border-radius: 10px;
}
.btn-primary:hover {
  background-color: rgba(238,174,202,1);
  border-color: rgba(238,174,202,1);
}
