#white-thing {
  margin-top: 20px;
  width: 500px;
  background: #f8f8f8;
}

.custom-card-body {
  width: 500px;
  margin: 0 auto;
}

.interest-tags {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 5px;
}

.interest-tags .interest-tag {
  display: flex;
  align-items: center;
  margin: 4px;
}

.interest-tags .interest-tag .custom-control-input {
  display: none;
}

.interest-tags .interest-tag .olis-interest-tag {
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #00bcd4;
  border-radius: 16px;
  transition: background-color 0.3s;
}

.interest-tags .interest-tag .custom-control-label {
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff4f82;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.interest-tags .interest-tag .custom-control-label::before {
  // content: '\f00c';
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  font-family: FontAwesome;
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
}

.interest-tags .interest-tag .custom-control-input:checked + .custom-control-label {
  background-color: #00bcd4;
}

.interest-tags .interest-tag .custom-control-input:checked + .custom-control-label::before {
  // content: '\f00c';
}

.interest-tags .interest-tag .custom-control-input:focus + .custom-control-label {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.meetup-card {
  border: 1px solid #ccc;
  background-color:#cadaec;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.interest-tags {
  margin-top: 5px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: transparent;
  background-color: transparent;
}


// UPLOAD IMAGE:
  #profile-image {
    position: relative;
    width: 140px;
    height: 140px;
    background-color: rgb(233, 236, 239);
    overflow: hidden;
  }

  #preview-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .btn-profile {
    display: inline-flex;
    align-items: center;
    background-color: rgba(148, 187, 233, 1);
    border-color: rgba(148, 187, 233, 1);
    border-radius: 10px;
    padding: 5px 10px; /* Add padding to give some space around the text */
    white-space: nowrap; /* Prevent text from wrapping to a new line */
    overflow: hidden; /* Hide any overflowed text */
    text-overflow: ellipsis; /* Add an ellipsis (...) if the text overflows */
    justify-content: center;
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 5px;
  }

  .btn-profile:hover {
    background-color: rgba(238, 174, 202, 1);
    border-color: rgba(238, 174, 202, 1);
  }

  // "REQUEST STATUS" STUFF

  .icon {
    display: inline-flex;
    align-items: center;
    margin-right: 5px; /* Adjust the spacing between the icon and text */
  }

  .icon i {
    font-size: 20px; /* Adjust the size of the icon */
  }
  .profile-link {
    color: rgb(105, 160, 222); /* Set the desired color for the link */
    text-decoration: none; /* Remove the underline */
  }

  .profile-link:hover {
    text-decoration:solid;
    color: rgba(238, 174, 202, 1);
  }

  .meetup-status {
    margin-top: 10px; /* Adjust the margin-top value to add vertical spacing */
  }

  .meetup-status p {
    display: flex;
    align-items: center;
  }

  .meetup-status .status-text {
    margin-left: 5px; /* Adjust the margin-left value to add spacing between the icon and text */
  }

  // SEARCH BAR ATTEMPT:
  :root {
    --primary-color: rgba(148, 187, 233, 1);
    --accent-color: #f50057;

    --text-color: #263238;
    --body-color: #80deea;
    --main-font: 'roboto';
    --font-bold: 700;
    --font-regular: 400;
  }
  * { box-sizing: border-box }

  body {
    color: var(--text-color);
    background-color: var(--body-color);
    font-family: var(--main-font), Arial;
    font-weight: var(--font-regular);
  }
  // main{
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   width: 100vw;
  //   height: 100vh;
  // }
  h1 {
    font-weight: var(--font-bold)
  }
  input,
  button {
    border: none;
    background: none;
    outline: 0;
  }
  button {cursor: pointer}
  .SearchBox-input::placeholder {/* No es un seudoelemento estandar */
   color:white;
    opacity: .6;
  }
  /* Chrome, Opera ySafari */
  .SearchBox-input::-webkit-input-placeholder {
    color: white;
  }
  /* Firefox 19+ */
  .SearchBox-input::-moz-placeholder {
    color: white;
  }
  /* IE 10+ y Edge */
  .SearchBox-input:-ms-input-placeholder {
    color: white;
  }
  /* Firefox 18- */
  #formGroupExampleInput:-moz-placeholder {
    color: white;
  }



  .SearchBox {
    --height: 4em;
    display: flex;
    margin: auto;
    width: 300px;
    border-radius: var(--height);
    background-color: var(--primary-color);
    height: var(--height);
  }
    .SearchBox:hover .SearchBox-input {
      padding-left: 2em;
      padding-right: 1em;
      width: 240px;
    }
    .SearchBox-input {
      width: 0;
      font-size: 1.2em;
      color: #fff;
      transition: .45s;
    }
    .SearchBox-button {
      display: flex;
      border-radius: 50%;
      width: var(--height);
      height: var(--height);
      background-color: var(--accent-color);
      transition: .3s;
    }
    .SearchBox-button:active  {
      transform: scale(.85);
    }
    .SearchBox-icon {
      margin: auto;
      color: #fff;
    }

    .searchbox-container {
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }
